.left-side { 
    border: 1px solid whitesmoke;
    color: white;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: cornflowerblue;

}
.footeer.btn  {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    border: 1px solid #ffffff;
    text-align: center;
    margin-bottom: 10rem;
    cursor: pointer;

}
.footeer.btn p {
    border: 1px solid whitesmoke;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px ;
    line-height: 21px ;
    color: #ffffff;
    word-spacing: 2px; 




}
